header{
    width:100%;
    height:200px;
    background: springgreen;
}

#left{
    width:20%;
    height:400px;
    background: magenta;
    float:left;

}


#main{
    width:70%;
    height:400px;
    background: blue;
    float:left;

}


#right{
    width:10%;
    height:400px;
    background: rgb(174, 166, 20);
    float:left;

}