body{
  width:70%;
  margin-left: auto;
  margin-right: auto;
}
img{
  width:200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}


nav{
  text-align: center;
  background: grey;
  padding:15px;
}

h1{
  color:white;
  background: blue;
}
table{
  border: 1px solid green;
  border-collapse: collapse;
    width:100%;
}
th{
  text-align: left;
}
tr{
  padding: 15px;
  background: grey;

}
